section.container
	.row
		.jumbotron
			.row
				.col-md-9
					h3 Some of our top services
					p Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.

				.col-md-3
					button.j-button View more
				